.cover{
    position: relative;
    overflow: hidden;
    height: calc(60vh - 16px - 64px);
}
.cover-flex{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-direction: column;
}
.cover-title{
    color: #1bc3fb;
    margin-top: calc(22vh - 4*16px);
    line-height: calc(24px*2 + 2*16px);
    font-size: 48px;
    font-weight: 700;
}
.cover-search{
    position: relative;
    max-width: calc(100% - 1*16px);
    width: 340px;
    line-height: 48px;
    vertical-align: middle;
    margin-top: 16px;
}
.cover-search-form{
    position: relative;
    display: block;
    width: 100%;
}
.cover-search-form-input {
    display: block;
    line-height: 46px;
    width: 100%;
    height: 44px;
    border: 1px dashed transparent;
    border-radius: 64px;
    -webkit-appearance:none;
    background-color: #fff;
    padding-left: 36px;
    transition: all .3s ease;
}
.cover-search-form-input:focus{
    border: 1px solid #1bc3fb;
    outline: unset;
}
.cover-search-form-input-icon{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 5px;
    top: 0;
    height: 44px;
    width: 32px;
    font-size: 16px;
    color: rgba(51,51,51,.6);
    line-height: 44px;

}
.cover-search-form:hover > i{
    transition: all .3s ease;
    color: #1bc3fb;
}
.cover-img{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: -9999;
}
.menu{
    margin-top: 16px;
}
.menu-flex{
    display: flex;
}
.menu-flex > a >i{
    margin-right: 3px;
}
.menu-tag-active {
    color: #1bc3fb;
    border-bottom: 1px solid #1bc3fb;
}
.menu-tag-unactive{
    color: rgba(51,51,51,.85);
}
.menu-flex > a:hover{
    color: #1bc3fb;
    border-bottom: 1px solid #1bc3fb;
}
.menu-tag{
    font-size: 14px;
    padding: 4px;
    margin: 0 4px;
    transition: all .25s ease
}
.Avatar-Main{
    display: flex;
    justify-content: center;
    max-height: calc(100% - 64px - 4 * 16px);
}
.Avatar-Main > img {
    width: 240px;
    height: 240px;
    border-top-left-radius: 16px;
    border-top-right-radius:16px;
    object-fit:cover;
}
.Avatar-Tags-Box{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 8px
}
.Avatar-Tags-Box > a{
    display: flex;
    color: rgba(51,51,51,.7);
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 100px;
}
.Avatar-Tags-Box > a:hover{
    color: #1bc3fb;
    background-color: rgba(27,195,251,.1);
}
.Avatar-Content{
    margin-top: 16px;
}
.main{
    width: calc(100% - 1 * 285px);
    padding-right: 16px;
    float: left
}
.Base-Content-Main{
    background-color: #fff;
    border-radius:16px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.1);
    transition: all .25s ease;
}
.Base-Content-Main:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 4px 8px 0 rgba(0,0,0,.1), 0 8px 16px 0 rgba(0,0,0,.1), 0 16px 32px 0 rgba(0,0,0,.1);
}
.Pagination-Content{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Pagination-Button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.1);
    width: 6.5rem;
    height: 64px;
    border: none;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
}
.Pagination-Button > p {
    margin: 0;
}
.Pagination-Button:hover{
    color: orange;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 4px 8px 0 rgba(0,0,0,.1), 0 8px 16px 0 rgba(0,0,0,.1), 0 16px 32px 0 rgba(0,0,0,.1);
}
.Article-Main{
    position: relative;
    padding: 32px 24px;
    margin: 16px auto;
}
.ArticlePreview-Main > h2 {
    transition: all .25s ease;;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}
.ArticlePreview-Main > h2 > a {
    color: #333333;
}
.ArticlePreview-Main > h2 > a:hover{
    color: darkorange;
    cursor: pointer;
}
.Creator-item > a{
    color: rgba(51,51,51,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Creator-item > a > i{
    margin-right: 4px;
    font-weight: 900;
}
.ReadMore{
    letter-spacing:.1rem;
    font-size: .8rem;
    margin-top: 16px;
}
.ReadMore > a {
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding: .2em 2.4em;
    line-height: 2rem;
    background-color: #1bc3fb;
    vertical-align: middle;
    border-radius: 6px;
}

.flex{
    display: flex;
}
.flex-all-center{
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}
.flex-space-between{
    justify-content: space-between;
}